﻿<h1>Список Булочек</h1>
<input type="button" value="Обновить" class="btn btn-default" (click)="refreshBuns()" />
<table class="table table-striped">
    <thead>
        <tr>
            <td>Название</td>
            <td>Начальная цена</td>
            <td>Текущая цена</td>
            <td>Следующая цена</td>
            <td>Время до изменения цена</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of buns">
            <td>{{b?.name}}</td>
            <td>{{b?.primaryPrice}}</td>
            <td>{{b?.currentPrice}}</td>
            <td>{{b?.nextPrice}}</td>
            <td>{{b?.changeTime}}</td>
        </tr>
    </tbody>
</table>